/* Layout do menu */
header {
    display: flex;
    justify-content: space-between;
    background-color: #7C5E99;
    border-bottom: 10px solid #000000;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

/* MENU */
a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-family: Fira Code, sans-serif;
    font-size: 20px;
    font-weight: 500; 
    text-decoration: none;
    margin-right: 30px;
}

/* PSEUDO ELEMENTO */
a::before {
    content: "";
    background-color: #F25A70;
    width: 10px;
    height: 10px;
    margin-right: 10px;
    vertical-align: middle;
}