/* SUBTITULO */

.title {
    font-family: "Press Start 2P", sans-serif;
    text-shadow: 8px 8px #000000;
    padding-left: 20px;
    padding-top: 20px;
}

.front {
    font-size: 88px;
    color: #ffffff;
    text-shadow: 5px 4px 1px #000000;
    font-family: "Press Start 2P", sans-serif;
    padding-left: 20px;
}